<% include ./partials/header %>

<div class="container">
	<a href="/admin/add/team" class="btn btn-large btn-primary">Баг нэмэх</a>
	<a href="/admin/add/player" class="btn btn-large btn-primary">Тоглогч нэмэх</a>
	<a href="/admin/teams" class="btn btn-large btn-primary">Бүх багууд</a>
	<a href="/admin/players" class="btn btn-large btn-primary">Бүх тоглогчид</a>
	<a href="/admin/add/schedules" class="btn btn-large btn-primary">Хуваарь нэмэх</a>
	<!-- <a href="/admin/delete/team" class="btn btn-large btn-primary">Баг хасах</a> -->
	<!-- <a href="/admin/delete/player" class="btn btn-large btn-primary">Тоглогч хасах</a> -->
	<a href="/admin/players/index" class="btn btn-large btn-primary">Тоглогчийн индекс</a>
	<a href="/admin/players/transfer" class="btn btn-large btn-primary">Тоглогч шилжүүлэх</a>
	<a href="/admin/new/season" class="btn btn-large btn-primary">Шинэ улирал</a>
</div>

<% include ./partials/footer %>